<%= form_with url: users_path, method: 'get' do |form| %>
  <%= form.text_field :search, placeholder: 'Search By First Name' %>
  <%= form.submit 'Search', class:'btn btn-primary ml-2' %>
<% end %>

<div id='users-container'>
  <%= render partial:"users/index", :locals => { :users => @users } %>
</div>
