<%= form_with url: all_appointments_path, method: 'get' do |form| %>
	<%= form.text_field :search, placeholder: 'Search By User ID' %>
	<%= form.submit 'Search', class:'btn btn-primary ml-2' %>
<% end %>

<div id='appointment-container'>
	<%= render partial:"appointments/all" , :locals => { :appointments => @appointments } %>
</div>

